<div class="footer_top know-more">
  <div class="container">
    <div class="row small">
    <!-- row newsletter block -->
      <div class="newsletter col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ page.featured_bottom_first }}
      </div>
    </div>
  </div>
</div>

<div class="footer_mid">
  <div class="container">
    <div id="footer_bot">
      <div class="breadcrumbs pull-left">
        {{ page.breadcrumb }}
      </div>
      <div class="social_footer col-md-3 pull-right">
        {{ page.featured_bottom_second }}
      </div>
    </div>
  </div>
</div>

<div class="footer_bottom">
    <div class="container footer_bot">
      <div class="row">
        <div class="menu_footer_left">
          {{ page.footer_first }}
        </div>
        <div class="menu_footer_right">
          {{ page.footer_second }}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-right menu_footer_contact">
          {{ page.footer_third }}
        </div>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="container">
      <div class="footer_menu pull-left  col-md-9">
        {{ page.footer_fourth }}
      </div>
      <div class="copyright pull-right col-md-3">
        {{ page.footer_fifth }}
      </div>
    </div>
  </div>
</div>
